# Nikola Generated
.doit.db
.doit.db.bak
.doit.db.dat
.doit.db.dir
.doit.db.db
_site
output/
web/.doit.db.bak
web/.doit.db.dat
web/.doit.db.db
web/.doit.db.dir

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# Distribution / packaging
*.egg

# virtual environments
.venv
ENV
venv

# Auxiliary files associated with emacs
*~
*#
#*

# Miscellaneous files
.DS_Store
.idea
cache/
id_rsa
id_rsa.pub
