## -*- coding: utf-8 -*-

<%def name="card(content)">
    <%
        title = content["title"]
        if title is None or title == "":
            raise ValueError("A valid title must be entered for 'title'.")
        anchor = content["anchor"]
        if anchor is None:
            anchor = ""
        presenter = content["presenter"]
        if presenter is None or presenter == "":
            raise ValueError("A valid presenter name must be entered for 'presenter'.")
        coauthors = content["coauthors"]
        ptime = content["time"]
        abstract = content["abstract"]
        home_url = content["home_url"]
        repo_url = content["repo_url"]
        docs_url = content["docs_url"]
    %>
    <a class="feature-link" name="${anchor}">
        <div class="feature-card nohover"
             style="height: 100%; width: 100%;
                    padding: 8px;
                    background-image: none">
            <h2>${title}</h2>
            <p style="margin: 8px 0; font-style: italic; font-size: 90%">${ptime}</p>
            <b>Presenter(s):</b> ${presenter}<br>
            % if coauthors:
                <b>Co-author(s):</b> ${coauthors}<br>
            % endif
            <p style="margin: 12px 0">
                <a href="${home_url}">${home_url}</a>
                % if repo_url:
                     | <a href="${repo_url}">Repository</a>
                % endif
                % if docs_url:
                     | <a href="${docs_url}">Documentation</a>
                % endif
            </p>
            <p style="margin: 0">${abstract}</p>
        </div>
    </a>
</%def>


<%
    if event is UNDERFINED:
        raise AttributeError(
            "'build_presenter_summaries' requires the name of the event 'event'"
        )
    event_dict = global_data["presenters"][event]
    members = sorted(event_dict.keys(), key=str.casefold)
%>
<div class="feature-row"
     style="margin: 18px auto; text-align: left">
    % for member in members:
        <div class="feature-column"
             style="width: 100%;
                    padding: 0; margin: 6px 10px;
                    float: none; display: inline-block">
            ${self.card(event_dict[member])}
        </div>
    % endfor
</div>
